<div class="row">
  <div class="large-10 columns">
  <div data-alert ng-show="msg" class="alert-box">{{msg}}</div>
    <form ng-submit="addContact()" ng-show="addFormShow">
      <h3>Add Contact</h3>
      
      <!-- Add Form -->
      <div class="row">
        <div class="large-6 columns">
          <label>Name:
            <input type="text" ng-model="newContact.name" placeholder="Contact Name" required />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Email:
            <input type="text" ng-model="newContact.email" placeholder="Contact Email" required />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Company:
            <input type="text" ng-model="newContact.company" placeholder="Company Name" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Work Phone:
            <input type="text" ng-model="newContact.phone[0].work" placeholder="Work Phone" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Mobile Phone:
            <input type="text" ng-model="newContact.phone[0].mobile" placeholder="Mobile Phone" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Home Phone:
            <input type="text" ng-model="newContact.phone[0].home" placeholder="Home Phone" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>Street Address:
            <input type="text" ng-model="newContact.address[0].street_address" placeholder="Street Address" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>City:
            <input type="text" ng-model="newContact.address[0].city" placeholder="City" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <label>State:
            <input type="text" ng-model="newContact.address[0].state" placeholder="State" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Zip Code:
            <input type="text" ng-model="newContact.address[0].zipcode" placeholder="Zip Code" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" value="Add Contact" class="button" />
        </div>
      </div>
    </form>
    
    <h3>DAP Contacts ({{contacts.length}})</h3>
    <table>
      <thead>
        <tr>
          <th width="200px">Name</th>
          <th width="200px">Company</th>
          <th width="25%">Email</th>
          <th width="25%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat ="c in contacts">
          <td><a ng-href="#/contact/{{$id}}" ng-click="setContact(c.$id)">{{c.name}}</a></td>
          <td>{{c.company}}</td>
          <td>{{c.email}}</td>
          <td>
            <a ng-href="#/contact/edit/{{$id}}" class="button tiny" ng-click="setContact(c.$id)">Edit</a>
            <a class="button tiny alert" ng-click="deleteContact(c)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="small-12 large-2 columns">
    <a class="button tiny" ng-click="clearContact();showAddForm()" ng-hide="addFormShow">Add Contact</a>
    <a class="button tiny" ng-click="hide()" ng-show="addFormShow">Cancel</a>
  </div>
</div>